.cardWrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 200px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageContainer {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
}

/* pokemon type */
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}

/* end of pokemon types */

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 180px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  border-radius: 20px;
}
h3 {
  margin-bottom: 0.2rem;
}
.pokemon-container .pokemonId {
  margin-top: 10px;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  background-color: #65686b;
  color: #fff;
}

.pokemonImgWrapper img {
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 0.5px solid;
   */
  border-radius: 50%;
}
.pokemon-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

/*  */
