.statsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 200px;
  min-height: 250px;
  border-radius: 20px;
  background-color: #393e46;
  color: #fff;
  text-transform: capitalize;
}
.statsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.name {
  font-size: 12px;
}
.wrapper {
  width: 70px;
  position: relative;
}

.container {
  background-color: pink;
}

.barCompleted {
  background-color: lightblue;
  width: 80%;
}

.label {
  font-size: 12px;
  position: relative;
  position: absolute;
  right: -20px;
  top: 0;
}
