.topbar {
  min-height: 10vh;
  background-color: #393e46;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.text {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #e0f1fd;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.btn {
  cursor: pointer;
}
