* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appContainer {
  min-height: 100vh;
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
}

/* pokemon type */
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}

/* end of pokemon types */

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 180px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  border-radius: 20px;
}
h3 {
  margin-bottom: 0.2rem;
}
.pokemon-container .pokemonId {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.pokemonImgWrapper img {
  width: 100px;
  height: 100px;
  border: 0.5px solid;
  border-radius: 50%;
}
.pokemon-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*  */
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.btn {
  width: 100px;
  padding: 0.5rem;
  background-color: #e0f1fd;
  color: rgb(20, 20, 20);
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
